.button-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.button-list-wrapper {
    padding: 2rem
}

.page-wrapper {
    min-height: 100svh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
}
    
button {
    justify-content: center;
    max-width: 10rem;
    display: flex;
    background: transparent;
    border: transparent;
    &:hover {
        color:  orange;
    }
}

